#main-container { 
    width: 97vw;
    height: 97vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 7fr 3fr;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    background-image: url(C:/Users/Paul/Dropbox/Programming/Elevation-Academy/Course-files/week-2/CSS-design/Freeform-exercise/deyi-decorate-pil-painting-paris-cafe-diy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#content-container {
    background-color: #E1CDB5;
    opacity: 0.75;
    display: grid;
}

#nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 20vw;
    padding-right: 20vw;
    opacity: 0.9;
    color: #8F0D17;
    background-color: #E1CDB5;
}
.nav-button {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.nav-button:hover {
    padding: 10px;
    border: 2px inset #8F0D17;
    cursor: pointer;
}

#selections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main-content {
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 1;
}

#main-content > h1 {
    font-size: 48px;
}

#main-content > p {
    font-family: 'Shadows Into Light', cursive;
    display: grid;
    justify-content: center;
    font-size: 24px;
}

.selection {
    font-weight: bold;
    font-size: 20px;
    display: grid;
    align-content: center;
    padding: 10px;
}

.selection:hover {
    opacity: 0.85;
    color: #E1CDB5;
}

#add {
    background-color: #EC8B20;
    justify-content: right;
    padding-right: 3vw;
}

#check {
    justify-content: center;
    background-color: #FD5C18;
}

#create {
    background-color: #8F0D17;
    justify-content: left;
    padding-left: 3vw;
}